html{
    color:bisque;
}

#table1 {
    border: solid red;
    color:bisque;
    border-radius: 5px;
}
#table1 td, #table1 th {
    border: 2px dashed blue;
    border-right: 2px solid green;
    border-left: 2px solid green;
    padding: 10px;
}
td:hover, th {
    color: green;
    padding: 30px;
}
.blue-th {
    color: blue;
}
.table2 {
    border: solid 10px rgba(83, 30, 18, 0.589);
    border-radius: 10px;
}

body {
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 200;
    display: flex;
    justify-content:flex-end;
    }

#p2 {
    font-weight: 100;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
}

img{
    border-image-width: 10px;
    color: blue;
}

.forecast {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: .2rem;
    font-size: 1rem;
}

#assiette orange:last-child {
    background: grey ;
}

pre {
    font-family:'Times New Roman', Times, serif;
}

#grec {
    width: 100px;
    position: static;
    right: 30px;
    left: 200px;
    background: hotpink ;
}