$brown: rgb(242, 224, 175);
$pink: rgb(202, 167, 240);

$nav-pills-link-active-color:$brown;
$theme-colors: (
    'primary':$pink,
    'toto' :$brown
);
$jumbotron-color:$brown;

@import './scss/bootstrap.scss';